<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Offers</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['./', 'new']">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="offers.length <= 0">
    <ion-row class="ion-no-padding">
      <ion-col
        size="12"
        size-sm="8"
        offset-sm="2"
        size-xs="12"
        class="ion-text-center"
      >
        <p>No offers found! Please create one first</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="offers.length > 0">
    <ion-row class="ion-no-padding">
      <ion-col size="12" size-sm="8" offset-sm="2" size-xs="12">
        <ion-list>
          <ion-item-sliding *ngFor="let offer of offers" #slidingItem>
            <!-- <ion-item [routerLink]="['./', offer.id]">
              <ion-thumbnail slot="start">
                <ion-img [src]="offer.imageUrl"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h1>{{ offer.title }}</h1>
              </ion-label>
            </ion-item> -->

            <app-offer-item [offerItem]="offer"></app-offer-item>

            <ion-item-options side="end">
              <ion-item-option
                color="secondary"
                (click)="onEdit(offer.id, slidingItem)"
              >
                <ion-icon name="create" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
