<ion-item [routerLink]="['./', offerItem.id]">
  <ion-thumbnail slot="start">
    <ion-img [src]="offerItem.imageUrl"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h1>{{ offerItem.title }}</h1>
    <div class="offer-details">
      <ion-icon name="calendar" color="secondary"></ion-icon>
      <ion-text color="primary" class="space-left">{{
        offerItem.availableForm | date
      }}</ion-text>
      <span class="space-left">to</span>
      <ion-icon name="calendar" class="space-left" color="secondary"></ion-icon>
      <ion-text color="primary" class="space-left">{{
        offerItem.availableTo | date
      }}</ion-text>
    </div>
  </ion-label>
</ion-item>
